<div>
    <ul>
        <li *myFor="let item of items; let i = index;"> {{ i }} Member: {{ item.name | json }}</li>
        <ng-template myFor [myForOf]="items" let-item let-i="index">
            <li> {{ i }} Member: {{ item.name | json }}</li>
        </ng-template>
    </ul>
</div>